#treeview li {
  display: block;
}

#susanoo-page_assets-attachment_files {

  table#file-index {
    margin-bottom: 0px;

    > tbody > tr {
      cursor: pointer;
    }

    th.icon {
      width: 20px;
    }

    td.indent {
      text-indent: 1em;
    }

    td.move, th.move {
      width: 60px;
      text-align: 'center';
    }
    td.move {
      div.move-area {
        margin-left: 20px;
      }

      div.move-link {
        height: 8px;
        line-height: 8px;
      }

      div.move-down {
        margin: 5px 0 0 0;
      }
    }
  }

  .explore  {
    background-color: white;

    .col-center {
      overflow-y: auto;
    }

    .col-button-group {
      margin: 0 5px;

      a {
        margin-top: 5px;
      }
    }

    .fileupload-list {
      overflow-y: auto;
    }
  }
}
