<table class="table table-bordered" id="help-table">
  <thead>
    <tr>
      <th class="help-name"><%= t('activerecord.attributes.help.name') %></th>
    </tr>
  </thead>

  <tbody id="helps">
  </tbody>
</table>
