<% content_for :page_top_menu do -%>
  <%= link_to t('.button.helps'), main_app.susanoo_admin_helps_path, class: 'btn btn-info btn-small pull-right' %>
<% end -%>

<div id="top-message-area"></div>

<div class="row-fluid explore">
  <div class="col-left col-md-3">
    <div class="col-content">
      <div id="treeview" class="treeview"></div>
    </div>
  </div><!-- /div.col-left -->

  <div class="col-center col-md-6">
    <div class="col-content" id="center-form-area">
      <%= render partial: "shared/help_categories/alert", locals: {type: :info, messages: [t('.select_message')]} %>
    </div>
  </div> <!-- /div.col-center -->

  <div class="col-right col-md-3" id="right-helps-area">
    <div class="col-content">
      <%= render partial: "help_list" %>
    </div>
  </div>
</div>

<% content_for :javascript_contents do %>
<%= javascript_tag do %>
$(function () {
  Susanoo.Admin.HelpCategory.Index.init()
});
<% end %>
<% end %>

