  <div id="content-wrapper" class="container">
    <div class="row">
      <div class="span12">
        <div id="honbun">
        <!-- begin_content -->
        <div id="page-content">
          <%= render partial: '/susanoo/visitors/content' %>
        </div><!-- end page-content -->
        <!-- end_content -->
        </div><!-- end honbun -->
      </div>
    </div>
  </div><!-- end content-wrapper -->
